@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  exclude: properties;
}
/* https://daisyui.com/theme-generator */
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-secondary-content: oklch(64% 0.2 131.684);
  --color-base-100: oklch(92% 0.003 48.717);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(37% 0.077 168.94);
  --color-neutral: oklch(37% 0.077 168.94);
  --color-neutral-content: white;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-secondary-content: white;
  --color-base-200: oklch(14% 0.004 49.25);
  --color-base-300: oklch(13.5% 0.37 187);
  --color-neutral: oklch(45.8% 0.124 130.9);
  --color-neutral-content: ;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
